Source: galliumos-cbox
Section: x11
Priority: optional
Maintainer: Hugh Greenberg <hugh@galliumos.org> 
Build-Depends: debhelper (>= 8.1.3~)
Standards-Version: 3.9.6

Package: galliumos-cbox
Architecture: all
Replaces: galliumos-default-settings
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Recommends: xfce4-session, libxfce4ui-utils
Description: default settings for chromeboxes
 This package contains the default settings used by chromeboxes
